body {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  background: url('http://media.blizzard.com/wow/media/fanart/fanart-1306-full.jpg') no-repeat fixed #050505;
  font-size: 10px;
}
.headline {
  font-family: 'Tulpen One', cursive;
  font-size: 3em !important;
  letter-spacing: .75px;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Tulpen One', cursive;
  font-size: 3em !important;
  letter-spacing: .75px;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
p {
  margin-top: 0;
  margin-bottom: 2px;
}
hr {
  border: none;
  border-bottom: 1px solid #444444;
}
.tool {
  width: 500px;
  background: rgba(30, 30, 30, 0.95);
  margin: 0 auto;
  zoom: 1;
}
.tool:before {
  content: '';
  display: block;
}
.tool:after {
  content: '';
  display: table;
  clear: both;
}
.selected {
  text-decoration: underline;
}
.singleUnitFrame {
  display: block;
  font-family: 'VT323', cursive;
  width: 90px;
  margin: 0 auto;
  height: 14px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: right;
  font-size: 12px;
  cursor: hand;
  cursor: pointer;
  background-color: #111 !important;
}
.info {
  text-align: center;
}
.info span {
  font-weight: bold;
}
.info #ok {
  display: none;
}
.classes .paladin {
  color: #f58cba;
  background: url("icons/paladin.gif") no-repeat;
}
.classes .paladin:hover {
  background-color: #333 !important;
}
.classes .warrior {
  color: #c79c6e;
  background: url("icons/warrior.gif") no-repeat;
}
.classes .warrior:hover {
  background-color: #333 !important;
}
.classes .deathknight {
  color: #c41f3b;
  background: url("icons/deathknight.gif") no-repeat;
}
.classes .deathknight:hover {
  background-color: #333 !important;
}
.classes .shaman {
  color: #0070de;
  background: url("icons/shaman.gif") no-repeat;
}
.classes .shaman:hover {
  background-color: #333 !important;
}
.classes .hunter {
  color: #abd473;
  background: url("icons/hunter.gif") no-repeat;
}
.classes .hunter:hover {
  background-color: #333 !important;
}
.classes .druid {
  color: #ff7d0a;
  background: url("icons/druid.gif") no-repeat;
}
.classes .druid:hover {
  background-color: #333 !important;
}
.classes .rogue {
  color: #fff569;
  background: url("icons/rogue.gif") no-repeat;
}
.classes .rogue:hover {
  background-color: #333 !important;
}
.classes .priest {
  color: #ffffff;
  background: url("icons/priest.gif") no-repeat;
}
.classes .priest:hover {
  background-color: #333 !important;
}
.classes .mage {
  color: #69ccf0;
  background: url("icons/mage.gif") no-repeat;
}
.classes .mage:hover {
  background-color: #333 !important;
}
.classes .warlock {
  color: #9482c9;
  background: url("icons/warlock.gif") no-repeat;
}
.classes .warlock:hover {
  background-color: #333 !important;
}
.specs div {
  display: none;
}
.specs .paladin .holy {
  color: #f58cba;
  background: url("icons/palaholy.png") no-repeat;
}
.specs .paladin .holy:hover {
  background-color: #333 !important;
}
.specs .paladin .prot {
  color: #f58cba;
  background: url("icons/palaprot.png") no-repeat;
}
.specs .paladin .prot:hover {
  background-color: #333 !important;
}
.specs .paladin .ret {
  color: #f58cba;
  background: url("icons/ret.png") no-repeat;
}
.specs .paladin .ret:hover {
  background-color: #333 !important;
}
.specs .warrior .prot {
  color: #c79c6e;
  background: url("icons/warrprot.png") no-repeat;
}
.specs .warrior .prot:hover {
  background-color: #333 !important;
}
.specs .warrior .fury {
  color: #c79c6e;
  background: url("icons/fury.png") no-repeat;
}
.specs .warrior .fury:hover {
  background-color: #333 !important;
}
.specs .warrior .arms {
  color: #c79c6e;
  background: url("icons/arms.png") no-repeat;
}
.specs .warrior .arms:hover {
  background-color: #333 !important;
}
.specs .deathknight .blood {
  color: #c41f3b;
  background: url("icons/blood.png") no-repeat;
}
.specs .deathknight .blood:hover {
  background-color: #333 !important;
}
.specs .deathknight .frost {
  color: #c41f3b;
  background: url("icons/dkfrost.png") no-repeat;
}
.specs .deathknight .frost:hover {
  background-color: #333 !important;
}
.specs .deathknight .unholy {
  color: #c41f3b;
  background: url("icons/unholy.png") no-repeat;
}
.specs .deathknight .unholy:hover {
  background-color: #333 !important;
}
.specs .shaman .ele {
  color: #0070de;
  background: url("icons/ele.png") no-repeat;
}
.specs .shaman .ele:hover {
  background-color: #333 !important;
}
.specs .shaman .enhancement {
  color: #0070de;
  background: url("icons/enhance.png") no-repeat;
}
.specs .shaman .enhancement:hover {
  background-color: #333 !important;
}
.specs .shaman .resto {
  color: #0070de;
  background: url("icons/shamanresto.png") no-repeat;
}
.specs .shaman .resto:hover {
  background-color: #333 !important;
}
.specs .hunter .bm {
  color: #abd473;
  background: url("icons/bm.png") no-repeat;
}
.specs .hunter .bm:hover {
  background-color: #333 !important;
}
.specs .hunter .mm {
  color: #abd473;
  background: url("icons/mm.png") no-repeat;
}
.specs .hunter .mm:hover {
  background-color: #333 !important;
}
.specs .hunter .survival {
  color: #abd473;
  background: url("icons/survival.png") no-repeat;
}
.specs .hunter .survival:hover {
  background-color: #333 !important;
}
.specs .druid .balance {
  color: #ff7d0a;
  background: url("icons/balance.png") no-repeat;
}
.specs .druid .balance:hover {
  background-color: #333 !important;
}
.specs .druid .feral {
  color: #ff7d0a;
  background: url("icons/feral.png") no-repeat;
}
.specs .druid .feral:hover {
  background-color: #333 !important;
}
.specs .druid .resto {
  color: #ff7d0a;
  background: url("icons/druidresto.png") no-repeat;
}
.specs .druid .resto:hover {
  background-color: #333 !important;
}
.specs .rogue .assassin {
  color: #fff569;
  background: url("icons/assassin.png") no-repeat;
}
.specs .rogue .assassin:hover {
  background-color: #333 !important;
}
.specs .rogue .combat {
  color: #fff569;
  background: url("icons/combat.png") no-repeat;
}
.specs .rogue .combat:hover {
  background-color: #333 !important;
}
.specs .rogue .subtlety {
  color: #fff569;
  background: url("icons/subtlety.png") no-repeat;
}
.specs .rogue .subtlety:hover {
  background-color: #333 !important;
}
.specs .priest .disc {
  color: #ffffff;
  background: url("icons/disc.png") no-repeat;
}
.specs .priest .disc:hover {
  background-color: #333 !important;
}
.specs .priest .holy {
  color: #ffffff;
  background: url("icons/priestholy.png") no-repeat;
}
.specs .priest .holy:hover {
  background-color: #333 !important;
}
.specs .priest .shadow {
  color: #ffffff;
  background: url("icons/shadow.png") no-repeat;
}
.specs .priest .shadow:hover {
  background-color: #333 !important;
}
.specs .mage .arcane {
  color: #69ccf0;
  background: url("icons/arcane.png") no-repeat;
}
.specs .mage .arcane:hover {
  background-color: #333 !important;
}
.specs .mage .fire {
  color: #69ccf0;
  background: url("icons/fire.png") no-repeat;
}
.specs .mage .fire:hover {
  background-color: #333 !important;
}
.specs .mage .frost {
  color: #69ccf0;
  background: url("icons/magefrost.png") no-repeat;
}
.specs .mage .frost:hover {
  background-color: #333 !important;
}
.specs .warlock .aff {
  color: #9482c9;
  background: url("icons/aff.png") no-repeat;
}
.specs .warlock .aff:hover {
  background-color: #333 !important;
}
.specs .warlock .demo {
  color: #9482c9;
  background: url("icons/demo.png") no-repeat;
}
.specs .warlock .demo:hover {
  background-color: #333 !important;
}
.specs .warlock .destro {
  color: #9482c9;
  background: url("icons/destro.png") no-repeat;
}
.specs .warlock .destro:hover {
  background-color: #333 !important;
}
.raid .paladin .holy {
  color: #f58cba;
  background: url("icons/palaholy.png") no-repeat;
}
.raid .paladin .holy:hover {
  background-color: #333 !important;
}
.raid .paladin .prot {
  color: #f58cba;
  background: url("icons/palaprot.png") no-repeat;
}
.raid .paladin .prot:hover {
  background-color: #333 !important;
}
.raid .paladin .ret {
  color: #f58cba;
  background: url("icons/ret.png") no-repeat;
}
.raid .paladin .ret:hover {
  background-color: #333 !important;
}
.raid .warrior .prot {
  color: #c79c6e;
  background: url("icons/warrprot.png") no-repeat;
}
.raid .warrior .prot:hover {
  background-color: #333 !important;
}
.raid .warrior .fury {
  color: #c79c6e;
  background: url("icons/fury.png") no-repeat;
}
.raid .warrior .fury:hover {
  background-color: #333 !important;
}
.raid .warrior .arms {
  color: #c79c6e;
  background: url("icons/arms.png") no-repeat;
}
.raid .warrior .arms:hover {
  background-color: #333 !important;
}
.raid .deathknight .blood {
  color: #c41f3b;
  background: url("icons/blood.png") no-repeat;
}
.raid .deathknight .blood:hover {
  background-color: #333 !important;
}
.raid .deathknight .frost {
  color: #c41f3b;
  background: url("icons/dkfrost.png") no-repeat;
}
.raid .deathknight .frost:hover {
  background-color: #333 !important;
}
.raid .deathknight .unholy {
  color: #c41f3b;
  background: url("icons/unholy.png") no-repeat;
}
.raid .deathknight .unholy:hover {
  background-color: #333 !important;
}
.raid .shaman .ele {
  color: #0070de;
  background: url("icons/ele.png") no-repeat;
}
.raid .shaman .ele:hover {
  background-color: #333 !important;
}
.raid .shaman .enhancement {
  color: #0070de;
  background: url("icons/enhance.png") no-repeat;
}
.raid .shaman .enhancement:hover {
  background-color: #333 !important;
}
.raid .shaman .resto {
  color: #0070de;
  background: url("icons/shamanresto.png") no-repeat;
}
.raid .shaman .resto:hover {
  background-color: #333 !important;
}
.raid .hunter .bm {
  color: #abd473;
  background: url("icons/bm.png") no-repeat;
}
.raid .hunter .bm:hover {
  background-color: #333 !important;
}
.raid .hunter .mm {
  color: #abd473;
  background: url("icons/mm.png") no-repeat;
}
.raid .hunter .mm:hover {
  background-color: #333 !important;
}
.raid .hunter .survival {
  color: #abd473;
  background: url("icons/survival.png") no-repeat;
}
.raid .hunter .survival:hover {
  background-color: #333 !important;
}
.raid .druid .balance {
  color: #ff7d0a;
  background: url("icons/balance.png") no-repeat;
}
.raid .druid .balance:hover {
  background-color: #333 !important;
}
.raid .druid .feral {
  color: #ff7d0a;
  background: url("icons/feral.png") no-repeat;
}
.raid .druid .feral:hover {
  background-color: #333 !important;
}
.raid .druid .resto {
  color: #ff7d0a;
  background: url("icons/druidresto.png") no-repeat;
}
.raid .druid .resto:hover {
  background-color: #333 !important;
}
.raid .rogue .assassin {
  color: #fff569;
  background: url("icons/assassin.png") no-repeat;
}
.raid .rogue .assassin:hover {
  background-color: #333 !important;
}
.raid .rogue .combat {
  color: #fff569;
  background: url("icons/combat.png") no-repeat;
}
.raid .rogue .combat:hover {
  background-color: #333 !important;
}
.raid .rogue .subtlety {
  color: #fff569;
  background: url("icons/subtlety.png") no-repeat;
}
.raid .rogue .subtlety:hover {
  background-color: #333 !important;
}
.raid .priest .disc {
  color: #ffffff;
  background: url("icons/disc.png") no-repeat;
}
.raid .priest .disc:hover {
  background-color: #333 !important;
}
.raid .priest .holy {
  color: #ffffff;
  background: url("icons/priestholy.png") no-repeat;
}
.raid .priest .holy:hover {
  background-color: #333 !important;
}
.raid .priest .shadow {
  color: #ffffff;
  background: url("icons/shadow.png") no-repeat;
}
.raid .priest .shadow:hover {
  background-color: #333 !important;
}
.raid .mage .arcane {
  color: #69ccf0;
  background: url("icons/arcane.png") no-repeat;
}
.raid .mage .arcane:hover {
  background-color: #333 !important;
}
.raid .mage .fire {
  color: #69ccf0;
  background: url("icons/fire.png") no-repeat;
}
.raid .mage .fire:hover {
  background-color: #333 !important;
}
.raid .mage .frost {
  color: #69ccf0;
  background: url("icons/magefrost.png") no-repeat;
}
.raid .mage .frost:hover {
  background-color: #333 !important;
}
.raid .warlock .aff {
  color: #9482c9;
  background: url("icons/aff.png") no-repeat;
}
.raid .warlock .aff:hover {
  background-color: #333 !important;
}
.raid .warlock .demo {
  color: #9482c9;
  background: url("icons/demo.png") no-repeat;
}
.raid .warlock .demo:hover {
  background-color: #333 !important;
}
.raid .warlock .destro {
  color: #9482c9;
  background: url("icons/destro.png") no-repeat;
}
.raid .warlock .destro:hover {
  background-color: #333 !important;
}
.roles div {
  display: none;
}
.roles div .dps {
  color: #a60000;
  background: url("icons/dps.png") no-repeat;
}
.roles div .dps:hover {
  background-color: #333 !important;
}
.roles div .tank {
  color: #1142aa;
  background: url("icons/tank.png") no-repeat;
}
.roles div .tank:hover {
  background-color: #333 !important;
}
.roles div .heal {
  color: #ffffff;
  background: url("icons/heal.png") no-repeat;
}
.roles div .heal:hover {
  background-color: #333 !important;
}
.inviter {
  zoom: 1;
}
.inviter:before {
  content: '';
  display: block;
}
.inviter:after {
  content: '';
  display: table;
  clear: both;
}
.inviter .classes,
.inviter .specs,
.inviter .roles {
  float: left;
  width: 166.66666666666666px;
}
.classes,
.specs {
  width: 166.66666666666666px;
}
.raid {
  zoom: 1;
  width: 250px;
  float: left;
}
.raid:before {
  content: '';
  display: block;
}
.raid:after {
  content: '';
  display: table;
  clear: both;
}
.group {
  width: 50px;
  float: left;
  margin: 0 35.714285714285715px 5px;
  zoom: 1;
}
.group:before {
  content: '';
  display: block;
}
.group:after {
  content: '';
  display: table;
  clear: both;
}
.group .groupName {
  text-indent: 5px;
  color: #eee;
}
.frame {
  display: block;
  font-family: 'VT323', cursive;
  width: 90px;
  margin: 0 auto;
  height: 14px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: right;
  font-size: 12px;
  cursor: hand;
  cursor: pointer;
  background-color: #111 !important;
  border: 1px solid gray;
}
.stats {
  display: inline-block;
  width: 250px;
  zoom: 1;
  float: left;
}
.stats:before {
  content: '';
  display: block;
}
.stats:after {
  content: '';
  display: table;
  clear: both;
}
.stats div {
  margin-left: 50px;
  margin-right: 10px;
}
.stats div p {
  clear: both;
}
.stats div span {
  float: right;
}
.stats div span.title {
  float: left;
  font-weight: bold;
  text-decoration: underline;
}
